{
    "env": {
        "browser": true,
        "es6": true,
        "amd": true
    },
    "parser": "babel-eslint",
    "ecmaFeatures": {
        "modules": true
    },
    "rules": {
        "esnext": true,
        "strict": [ 1, "function" ],
        "no-console": false,
        "brace-style": [ 2, "stroustrup", { "allowSingleLine": true } ],
        "padded-blocks": "never",
        "no-multiple-empty-lines": [ 1, {
            "max": 1
        } ],
        "key-spacing": [ 2, {
            "beforeColon": false,
            "afterColon": true
        } ],
        "radix": 2,
        "vars-on-top": 2,
        "indent": [ 2, 4, { "indentSwitchCase": true } ],
        "comma-style": [ 2, "last" ],
        "consistent-this": [ 1, "self" ],
        "no-nested-ternary": 2,
        "quotes": [ 2, "double", "avoid-escape" ],
        "space-before-function-parentheses": [ 2, "never" ],
        "space-before-blocks": [ 2, "never" ],
        "space-after-keywords": [ 2, "never" ],
        "space-in-brackets": [ 2, "always" ],
        "space-in-parens": [ 2, "always" ],
        "space-infix-ops": 2
    },
    "globals": {
        "module": false,
        "console": false,
        "requirejs": false,
        "noty": false
    }
}
